// ==============================================
// HOME PAGE STYLES 
// ==============================================

.project-section {
  padding: 4em 0;
  background-color: #f8f8f8;

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
}
