@import "compass/css3";

/* WELCOME PAGE STYLES 
===================================*/

.skills-box {
  position: relative;
}

.skillset {
  position: relative;
  color: white;
  text-shadow: 2px 2px 4px #000;
  height: 475px;
  @include transition(animate 0.5s ease);

  h1 {
    margin: 0;
    padding: 1.5em 0 1em;
    font-weight: 300;
  }
}

.skillset-default {
  background: image-url("macbook-coffee-bw.jpg") no-repeat center center;
}

.skillset-ror {
  background: image-url("fast-train.gif") no-repeat center center;
  background-size: cover;
}

.skills {

  p, a {
    color: white;
    position: absolute;
    margin: 1em;
    cursor: pointer;
    z-index: 5;
    @include transition(all 0.5s ease);
  }

  a:hover {
    text-decoration: none;
  }
}

.ruby-link {
  left: 13em;

  &:hover {
    @include transform(scale(1.5));
    color: red;
  }
}

.ruby-gif {
  display: none;
  position: absolute;
  left: 32em;
  z-index: 0;
}

.javascript-link {
  left: 23.3em;
  &:hover {
    color: yellow;
  }
}

.ror-link {
  right: 9em;

  &:hover {
    color: red;
    @include transform(scale(1.5));
  }
}

.bootstrap-link {
  position: absolute;
  top: 12em;
  left: 14em;
  margin: 0;
  padding: 0;
  z-index: 5;

  li {
    display: inline;
    list-style-type: none;
    margin: -3px;
    @include transition(all 0.5s ease);
  }

  &:hover {
    li {
      height: 4em;
      margin: 0;
      padding: 5px;
      border-right: solid 1px white; 
    }
  }
}

.jquery-link {
  top: 11em;
  left: 24.3em;
}

.jquery-5 {
  @include transition(all 0.5s ease);

  &:hover {
    @include transform(scale(1.5));
    color: lightskyblue;
  }
}

.jquery-fine {
  display: none;
  font-size: 18px;
  text-align: center;
  color: white !important;
}

.jquery-title {
  top: 10px;
  left: 10px;
  color: lightskyblue !important;
}

.css3-link {
  top: 11em;
  right: 12.5em;
  @include transition(rotate scale 0.1s ease);

  &:hover {
    @include transform(rotateZ(-750deg) scale(12.5));
    color: #29a9df;
    z-index: 5;
  }
}

.css-title {
  top: 10px;
  left: 10px;
  color: #29a9df !important;
}

.skills-back {
  display: none;
  top: 2.5em;
  left: 10px;
  @include transition(all 0.5s ease);
}

.exhibit {
  position: absolute;
  top: 0;
  left: 100%;
  width: 30%;
  height: 475px;
  background-color: #333;
  @include transition(all 0.5s ease);
}

/* MEDIA QUERIES 
===================================*/

.skills-copy {
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
