
/* COLOR VARIABLES 
===========================*/

// Navbar and black divs
$mine-shaft: #222;

// white links
$alabaster: #F8F8F8;

// footer and links on hover
$jade: #00A676;

// bolt-network blue
$azure-radiance: #0393FF;

// suggestion-box blue
$downy: #6EBFD4;

// Sherry Matthews Marketing green
$lime-green: #00C63E;
