<%# Exhibit Code Partial %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @exhibit.title %></h2>

      <div class="text-left post-view">
        <%= markdown(@exhibit.body) %>
      </div>
    </div>
  </div>
</div>
