<div class="jumbotron-main">
  <div class="container-fluid">
    <div class="headshot hidden-xs hidden-sm"></div>

    <div class="row justify-content-center">
      <div class="main col-12 text-center">
        <h1 class="display-3">
          Eric Stephenson is a Web Developer</br> in Seattle
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="container-fluid">
    <h2>Recent Projects</h2>

    <%= render 'projects/project_links' %>
  </div>
</div>

<div class="skills-box">
  <div class="skillset skillset-default">
    <h2>Skills</h2>
    <br>

    <span class="ruby-gif">
      <%= image_tag("rotating-ruby.gif", class: "img-responsive") %>
    </span>

    <div class="skills-copy">

      <div class="skills">
  	    <p class="ruby-skill">Ruby</p>

        <p class="javascript-skill">JavaScript</p>

        <p class="ror-skill">Ruby on Rails</p>

        <ul class="bootstrap-skill">
          <li>Boo</li>
          <li>ts</li>
          <li>trap</li>
        </ul>

        <p class="jquery-skill jquery-1">jQuery<span class="jquery-fine">Fine, click me!</span></p>
        
        <button class="css3-skill">
          <p>CSS3</p>
        </button>

        <div class="skills-back">
          <div class="flipper">
            <div class="front"><span>Back</span></div>
            <div class="back"><i class="fa fa-arrow-left"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exhibit ruby-exhibit">
    <%= render 'ruby_exhibit' %>
  </div>

  <div class="exhibit javascript-exhibit">
    
  </div>

  <div class="exhibit ror-exhibit">
    
  </div>

  <div class="exhibit bootstrap-exhibit"></div>

  <div class="exhibit jquery-exhibit"></div>

  <div class="exhibit css-exhibit"></div>
</div>
