<div class="jumbotron-main">
  <div class="container-fluid">
    <div class="headshot-container">
      <div class="headshot"></div>
    </div>

    <div class="row justify-content-center">
      <div class="main col-12 text-center">
        <h1>
          Eric Stephenson is a Web Developer</br> in Seattle
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="container-fluid">
    <h2>Recent Projects</h2>

    <div class="row">
      <%= render 'projects/project_links' %>
    </div>
  </div>
</div>

<%= render 'skills' %>
