<div class="jumbotron-about">
  <div class="col-md-12 text-center">
  	<h1>About Me</h1>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="p-info about-copy">
				
        <p>My name is Eric Stephenson and I’m a freelance developer based in Seattle, Washington. After traveling the world as a teacher and graduating from business school, I got hooked on code and taught myself to build websites in Ruby on Rails and the MEAN stack. I have since been helping small businesses get their products and services online in responsive, user-friendly web apps.</p>

				<p>I am most interested in modern web development involving Ruby, JavaScript, and the latest Front End technologies, but always seek to widen my technology skill-set. Though I mainly work solo, I am always willing to join a team and collaborate.</p>


				<h2>What can I do for you?</h2>

				<p>If you have a business that needs a website, I can build it entirely and deploy it online. I am experienced in all sides of full-stack development.</p>

				<p>I can also write and edit copy, configure your site for Search Engine Optimization, edit images, and code animations with jQuery and CSS3. Anything I build will display properly on all devices.</p>

				<p>If you have a project in mind, please get in touch. I am available for freelance, contract or direct client project.</p>


				<h3>About this website</h3>

				<p>This website was built using Ruby on Rails with Bootstrap. The animations are a product of CSS3 and Compass. Some photos are stock, and others were taken by me.</p>

			</div>
		</div>
	</div>
</div>