<div class="project-page">
<div class="container">
  <h1 class="page-title">At Home with Baldwin Interiors</h1>
  <h4 class="technologies">Ruby on Rails | Bootstrap | Spree Engine</h4>  

  <div class="row">
    <div class="col-md-12">
      <div class="p-info">

        <p>My latest project was a Ruby on Rails e-commerce website for a home furnishings and gift 
        store in Columbus, GA. The client wanted a site to promote the store, show its location, 
        and offer its products for sale online. With the Spree e-commerce engine, the site has user-friendly 
        navigation to all products, organized by categories, and a backend that allows the client to add 
        products to the database with ease.</p>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <a href="https://vast-reef-1675.herokuapp.com"  class="site-link">Visit Website</a>
  </div>

  <div class="row">
    <div class="project-img col-md-8 col-md-offset-2">
      <%= image_tag("baldwin-home-page.png", class: "img-responsive") %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="p-info">

        <h4>My Responsiblities</h4>
        <ul>
          <li>Building the site with various rails engines to provide Spree functionality</li>
          <li>Customizing layout and page views for a unique appearance</li>
          <li>Coding responsive CSS so the site was viewable on all devices</li>
          <li>Deploying the site on an Apache server with Ubuntu OS</li>
        </ul>
        <br>

        <h4>Technology Stack</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Bootstrap SASS</li>
          <li>Spree Gems</li>
        </ul>
        <br>

        <p>I began the project in July, and completed all major tasks in September. While gathering product information for the database, the client put the project on hold to explore other options. For the purposes of this portfolio, I host a demo of the site on a Heroku server.</p>
      </div>
    </div>
  </div>
</div>
</div>

