<div class="project-page">
  <div class="container">
    <h1 class="page-headline">Bolt Network</h1>
    <span class="technologies">Ruby on Rails | ReactJS | PostgreSQL</span> 
    
    <div class="row">
      <div class="col-md-12">
        <div class="p-info">
          
          <p>
            Bolt Network is an on-going attempt to reverse engineer Netflix's features and UI. What began
            as a practice project on Codecademy is now a large application with over 100 movie records.
            Using a Rails API to interact with a fully ReactJS front end, Bolt Network recreates the
            Netflix movie carousels, navbar, pages, My List, Liked Movies, and instant-results search.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <a
        href="https://lit-anchorage-35230.herokuapp.com/"
        target="_blank"
        class="site-link"
      >
        Visit Website
      </a>
    </div>

    <div class="row">
      <div class="project-img col-md-8 col-md-offset-2">
        <%= image_tag("bolt-network-full-new.png", class: "img-responsive") %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="p-info">

          <h4>Project Highlights</h4>
          <ul>
            <li>Netflix-style movie carousels built with ReactJS and CSS3</li>
            <li>Instant results search with ActiveRecord queries and ReactJS magic</li>
            <li>Genres, My List, and Recently Added pages</li>
            <li>Netflix-style navbar and search bar</li>
          </ul>
          <br>

          <h4>Technology Stack</h4>
          <ul>
            <li>Ruby on Rails</li>
            <li>ReactJS</li>
            <li>PostgreSQL</li>
            <li>Bootstrap</li>
            <li>SASS</li>
            <li>Amazon S3</li>
          </ul>

          <%# <p>I completed the overhaul of Bolt Network over a month from mid-April to mid-May, 2016. This 
          was an experimental project with several learning goals in mind. Having completed serveral algorithm 
          challenges on HackerRank, I wanted to see how I could use Ruby and JavaScript to make this app more 
          responsive and interactive. In the process, I arrived at the goal of re-creating Netflix's front end. 
          As the project is on-going, I expect to make future improvements such as swapping out Unslider for 
          a custom carousel that will more accurately depict Netflix effects. I already have ideas on how to do 
          it so watch this space!</p> %>
        </div>

        <!-- <div class="p-info">

          <p>Now I'll get more specific on how I turned</p>

          <div class="row">
            <div class="col-sm-5 text-center">
              <h3>this...</h3>

              <%#= image_tag("bolt-network-full-old.png", class: "img-responsive") %>
            </div>

            <div class="col-sm-5 col-sm-offset-1 text-center">
              <h3>...into this!</h3>

              <%#= image_tag("bolt-network-full-new.png", class: "img-responsive") %>
            </div>
          </div>

          <div class="line-break-blue"></div>
        </div>

        <div class="p-info">
          <h2>Movie Carousels</h2>

          <%#= image_tag("bolt-network-carousels.gif", class: "img-responsive") %>

          <p>
            The carousels are built with various ReactJS components and a doubly linked list
            service that dynamically holds three groups of slides at a time. Using
            the arrow buttons will re-render the carousels with a new batch of data
            from the linked list. Movie data is delivered over a JSON API built with
            ActiveRecord queries to a PostgreSQL database. The images are stored on an
            Amazon S3 Bucket. Hovering on the images will render additional components
            including buttons to Like, Dislike, add to My List, see the movie page,
            and cut the volume.
          </p>

          <div class="line-break-blue"></div>
        </div>

        <div class="p-info">
          <h2>Search Bar</h2>

          <%#= image_tag("bolt-network-searchbar.gif", class: "img-responsive") %>

          <p>
            Through the combination of a JSON API and react-router-dom magic,
            typing in the search bar will show instant search results and
            suggested genres.
          </p>

          <div class="line-break-blue"></div>
        </div>

        <div class="p-info">
          <h2>Main Slideshow</h2>

          <%#= image_tag("bolt-network-main-slider.gif", class: "img-responsive") %>

          <p>
            The main slideshow is built with reactstrap components and scales to
            browser width. The My List button works through Local Storage.
          </p>

          <div class="line-break-blue"></div>
        </div> -->

        <!-- <div class="p-info">
          <h2>Navigation Bar</h2>

          <%#= image_tag("bolt-network-navbar.gif", class: "img-responsive") %>

          <p>Netflix's navbar appears on scrolldown, which was easy enough to implement, but a 
          challenge arose when dealing with the mobile menu. I kept the Bootstrap slidedown 
          style, but when you open the menu at the top of the page, it had a transparent 
          background. I solved this by using a variable to keep track of scroll-length and 
          adding a class to the nav that prevents removing the background if the menu is open.</p>

          <div class="line-break-blue"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
