<div class="jumbotron-contact">
  <div class="main col-md-12 text-center">
  	<h1>CONTACT</h1>
  </div>
</div>

<div class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>The best way to contact me is by email. I can also be reached 
        by phone or my LinkedIN mailbox, and will do my best to respond within 24 hours.</p>
        <br>
      	<h3>
      	  <a href="mailto:ericb.stephenson@gmail.com">ericb.stephenson@gmail.com</a>
      	</h3>
      	<br>
      	<h3>415.696.9861</h3>
      </div>
    </div>
  </div>
</div>