<div class="project-page">
<div class="container">
  <h1 class="page-title">Griffen Financial</h1>
  <h4 class="technologies">Ruby on Rails | Bootstrap | Ruby APIs</h4> 
  
  <div class="row">
  	<div class="col-md-12">
  	  <div class="p-info">
  	  	
        <p>Griffen Financial is a startup that aims to provide specialized
        credit/debit card readers for legal marijuana merchants. The client
        wanted a site to advertise the devices and provide online application
        forms for buyers. Another request was that the site be integrated with
        Dropbox, Zoho CMS, and Mandrill.</p>

  	  </div>
  	</div>
  </div>

  <div class="row">
	<div class="web-link">
	  <a href="https://dry-tor-4505.herokuapp.com">
	    <p>Visit Website</p><span class="glyphicon glyphicon-arrow-right"></span>
	  </a>
	</div>
  </div>

  <div class="row">
    <div class="project-img col-md-8 col-md-offset-2">
      <%= image_tag("griffen-home-page.png", class: "img-responsive") %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="p-info">

        <h4>My Responsiblities</h4>
        <ul>
          <li>Building the site from the ground up with Ruby on Rails</li>
          <li>Coding the entire backend and integrating with Dropbox and Zoho API</li>
          <li>Developing the frontend views from a design template</li>
          <li>Deploying the site on an Apache server with Ubuntu OS</li>
        </ul>
        <br>

        <h4>Technology Stack</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Bootstrap SASS</li>
          <li>jQuery</li>
          <li>Ruby APIs</li>
        </ul>
        <br>

        <p>I began this project in March, 2015, and launched a demo version online after four weeks. In the succeeding months, I completed the integrations requested and implemented multiple ruby gems for increased functionality. I used Carrierwave for image uploads on the forms and Cocoon for a form that needed image uploads from each shareholder or partner of the customer's business.</p>
        <br>

        <p>In July 2015, the project was put on hold indefinitely. I have since rebuilt Griffen Financial with
        cleaner code and host a demo on a Heroku server.</p>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
