<div class="project-page">
<div class="container">
  <h1 class="page-headline">Sherry Matthews Marketing</h1>
  <h4 class="technologies">HTML/CSS | jQuery | Responsive Design</h4> 
  
  <div class="row">
  	<div class="col-md-12">
  	  <div class="p-info">
  	  	
        <p>Sherry Matthews Marketing, LLC, a group of sales representatives in 
        the housewares industry, needed a website for their company. The client
        wanted something simple to mainly display images of products and link
        to the manufacturers' websites. I built a static site in HTML, CSS, 
        and JavaScript, used Galleria.js for the jQuery sliders, and deployed 
        on GoDaddy. Later, I overhauled the CSS to create responsive mobile 
        views and added a slide over mobile menu. For SEO purposes, I wrote 
        alt-text for all images, added meta description tags, edited the copy, 
        and put content-descriptive spans throughout the views. As a result, 
        the site reached the first page of Google search results for "sherry matthews marketing".</p>

  	  </div>
  	</div>
  </div>

  <div class="row">
	  <a href="http://www.sherrymatthewsmarketing.com" target="_blank" class="site-link">Visit Website</a>
  </div>

  <div class="row">
    <div class="project-img col-md-8 col-md-offset-2">
      <%= image_tag("smm.png", class: "img-responsive") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="p-info">

        <h4>My Responsiblities</h4>
        <ul>
          <li>Building the entire website from scratch</li>
          <li>Implementing the client's preferred design with CSS</li>
          <li>Integrating and customizing a slideshow of the product lines 
          and images of the showroom and employees</li>
          <li>Deploying the site on GoDaddy</li>
        </ul>
        <br>

        <h4>Technology Stack</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS</li>
          <li>jQuery</li>
        </ul>

        <p>This was my first website project, which I worked on while helping
        the company as a sales rep at shows. We began in April, 2014 and went
        through several designs before the principal settled on one she liked. My
        greatest challenge by far was the slideshow, but I pulled through. I've
        been the webmaster ever since and make updates to the site as
        requested.</p>

        <div class="line-break-green"></div>
      </div>
    </div>
  </div>
</div>
</div>
