
<div class="project-page">
<div class="container">
  <h1 class="page-headline">Suggestion Box</h1>
  <h4 class="technologies">AngularJS | NodeJS | Bootstrap</h4> 
  
  <div class="row">
  	<div class="col-md-12">
  	  <div class="p-info">
  	  	
        <p>Suggestion Box is a tool for co-workers to make anonymous suggestions for 
        improving their work space, meetings, etc. After building this simple app 
        for an AngularJS course final project, I went a step further and put it on a 
        full MEAN stack. I installed node modules with NPM, added a Node/Express backend, 
        connected a Mongo Database through Mongoose, and handled dependencies with Bower.</p>
        <br>

  	  </div>
  	</div>
  </div>

  <div class="row">
	  <a href="https://suggestion-box-mean.herokuapp.com" target="_blank" class="site-link">Visit Website</a>
  </div>

  <div class="row">
    <div class="project-img col-md-8 col-md-offset-2">
      <%= image_tag(s3_path("suggestion_full_page.png"), class: "img-responsive") %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="p-info">

        <h4>Technology Stack</h4>
        <ul>
          <li>AngularJS</li>
          <li>NodeJS</li>
          <li>ExpressJS</li>
          <li>MongoDB</li>
        </ul>
        <br>

        <p>I built this app in a week after finishing the Codecademy AngularJS course. 
        Suggestion Box consists of two pages: a home page for posting suggestions and 
        upvoting them, and a suggestion page for commenting on individual suggestions 
        and upvoting the comments. Using Bootstrap for structure and responsive views, 
        the app displays well on any device. </p>
        <br>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="project-img col-md-8 col-md-offset-2">
      <%= image_tag(s3_path("suggestion_comments.png"), class: "img-responsive") %>
    </div>
  </div>
  <br>

</div>
</div>
