<div class="jumbotron">
  <div class="container">  
    <div class="main col-md-8 col-md-offset-2 text-center">
      <h1>Eric Stephenson is a Web Developer in Seattle</h1>
    </div>
  </div>
</div>

<div class="project-page">
<div class="container">
  <h1 class="page-title">Recent Projects</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="p-item focus-g">
        <a href="/pages/griffen">
          <%= image_tag("griffen.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>Griffen Financial</h3>      
    </div>

    <div class="col-md-6">
      <div class="p-item focus-b">
        <a href="/pages/baldwin">
          <%= image_tag("baldwin.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>At Home with Baldwin Interiors</h3>     
    </div>
  </div>
</div>
</div>

<div class="skillset">
<div class="container">
  <h1 class="page-title">Skills</h1>
  <br>
  <div class="row">
  	<div class="col-md-6 col-md-offset-3 skills-copy text">
	  <p>My range of skills includes basic design and UX principles, front-end
	  responsive development with Bootstrap and AngularJS, animations with jQuery and CSS3, and
	  back-end development in Ruby on Rails. In addition, I am
	  proficient in Test Driven Development using RSpec. I can integrate a site with 
    popular APIs such as Dropbox, and utilize SQL for simple queries and business metrics.</p><br>

  	  <p>By developing with Rails, I have become familiar with Linux system administration and 
  	  deployment on either an Apache server with MySQL, or on Heroku with PostgreSQL. 
  	  In a recent project, I built an online store with the Spree rails engine.</p>
  	</div>  
  </div>
</div>
</div>







