<div class="jumbotron">
  <div class="container">  
    <div class="main col-md-6 col-md-offset-3">
      <h1>Hello. My name is Eric Stephenson and I have creative ideas and build websites</h1>
      <a href="#">View my Work</a>
    </div>
  </div>
</div>