<div class="jumbotron">
  <div class="container-fluid">
    <div class="headshot hidden-xs hidden-sm"></div>
    <div class="main col-md-8 col-md-offset-2 text-center">
      <h1>Eric Stephenson is a Web Developer</br> in Seattle</h1>
    </div>
  </div>
</div>

<div class="project-page">
<div class="container">
  <h1 class="page-title">Recent Projects</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="p-bolt focus-bolt">
        <a href="/work/bolt_network">
          <%= image_tag("bolt-network.svg", class: "img-responsive", id: "bolt-svg") %>
          <%= image_tag("bolt-network-home.png", class: "img-responsive", id: "pirate-pic") %>
        </a>
      </div>
      <h3>Bolt Network</h3>    
    </div>

    <div class="col-md-6">
      <div class="p-griffen focus-g">
        <a href="/work/griffen">
          <%= image_tag("griffen.png", class: "img-responsive") %>
        </a>
      </div>
      <h3>Griffen Financial</h3>      
    </div>
  </div>
</div>
</div>

<div class="skillset">
<div class="container">
  <h1 class="page-title">Skills</h1>
  <br>
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 skills-copy">
      <div class="row">
  	    <p>Ruby</p>
        <p>JavaScript</p>
        <p>Ruby on Rails</p>
        <p>NodeJS</p>
      </div>
      <div class="row">
        <p>AngularJS</p>
        <p>Bootstrap</p>
        <p>jQuery</p>
        <p>CSS3</p>
  	  </div>  
  </div>
</div>
</div>







