<div class="jumbotron">
  <div class="main col-md-12 text-center">
  	<h1>My Projects</h1>
  </div>
</div>

<div class="portfolio">
<div class="baldwin">
  <div class="container">
    <div class="col-md-8 p-item">
  	  <%= image_tag("baldwin.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<div class="griffen">
  <div class="container">
    <div class="col-md-8 p-item">
  	  <%= image_tag("griffen.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<div class="smm">
  <div class="container">  
    <div class="col-md-8 p-item">
  	  <%= image_tag("smm.png", class: "img-responsive") %>
    </div>    
  </div>
</div>
</div>
