<div class="jumbotron">
  <div class="main col-md-12 text-center">
  	<h1>My Projects</h1>
  </div>
</div>

<div class="baldwin">
  <div class="container">
    <div class="col-md-8">
      <div class="p-item focus-b">
      	<a href="https://vast-reef-1675.herokuapp.com/">
  	      <%= image_tag("baldwin.png", class: "img-responsive") %>
  	    </a>
      </div>
    </div>
  </div>
</div>

<div class="break"></div>

<div class="griffen">
  <div class="container">
    <div class="col-md-8">
      <div class="p-item focus-g">
      	<a href="https://safe-dusk-4200.herokuapp.com/">
  	      <%= image_tag("griffen.png", class: "img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="break"></div>

<div class="smm">
  <div class="container">  
    <div class="col-md-8">
      <div class="p-item focus-smm">
      	<a href="http://www.sherrymatthewsmarketing.com">
  	      <%= image_tag("smm.png", class: "img-responsive") %>
        </a>
      </div>
    </div>    
  </div>
</div>
	