<div class="project-page">
<div class="container">
  <h1 class="page-title">My Work</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="p-item focus-b">
        <a href="/pages/baldwin">
          <%= image_tag("baldwin.png", class: "img-responsive") %>
        </a>
      </div>      
    </div>

    <div class="col-md-6">
      <div class="p-item focus-g">
        <a href="/pages/griffen">
          <%= image_tag("griffen.png", class: "img-responsive") %>
        </a>
      </div>      
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="p-item focus-smm">
        <a href="/pages/smm">
          <%= image_tag("smm.png", class: "img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
