<div class="row">
  <div class="micro-12 col-6">
    <a
      href="<%= @project.site_link %>"
      target="_blank"
      class="site-link top"
    >
      Visit Website
    </a>
  </div>

  <div class="micro-12 col-6">
    <a
      href="<%= @project.repo_link %>"
      target="_blank"
      class="site-link"
    >
      Visit Repo
    </a>
  </div>
</div>
