<div class="row">
  <div class="col-12">
    <h1 class="page-headline">
      <%= @project.title %>
    </h1>

    <p class="technologies">
      <%= top_tech(@project.tech_stack) %>
    </p>

    <div class="p-info">
      <p><%= @project.summary %></p>
    </div>
  <div>
</div>
