<div class="project-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="page-headline">My Work</h1>
      </div>
    </div>

    <div class="row">
      <%= render 'project_links' %>
    </div>
  </div>
</div>
