
/* SITE-WIDE STYLES 
===============================*/

body {
  line-height: 180%;
  font-size: 14px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.page-headline {
  margin-top: 2em;
  font-weight: 300;
}

.technologies {
  margin: 10px 0;
  font-family: 'Cambria';
  font-size: 18px;
  color: #696969;
}

main {
  text-align: center;
  margin-top: 5em;
}
