@import "bootstrap";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/background-size";

/* NAVIGATION STYLES 
==============================================*/

nav.navbar {
  margin: 0;
  padding: 0.8em;
  background-color: #222;
  z-index: 10;

  button {
    border: solid 1px #F8F8F8;
  }

  .icon-bar {
    background-color: #F8F8F8;
  }
}

nav.navbar, .navbar-header, .nav {
  @include transition(all 1s ease);
}

nav.navbar.shrink {
  @include transform(translate(0, -28px));

  .navbar-header {
    @include transform(translate(0, 15px));
  }

  .nav {
    @include transform(translate(0, 15px));
  }
}

#logo {
  font-size: 2em;
}

#logo, .nav a {
  color: #F8F8F8;
  @include transition(all 0.5s ease);
  &:hover {
    color: #00A676;
  }
}

.nav {
  a {
    font-size: 1.5em;
  }

  i {
    font-size: 2em;
    margin-top: -0.25em;
  }
}

#nav-list {
  margin-top: 0.6em; 
  a:hover {
    background-color: #222;
  }

  .icon-link {
    a {
      height: 50px;
      margin-bottom: 0.5em;
    }
  }
}

// MEDIA QUERIES #######

#logo {
  @media only screen and (min-width: 768px) {
    position: relative;
    top: 0.2em;
  }
}

.nav {
  a {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.2em;
    }
    @media only screen and (max-width: 768px) {
      height: 50px;
      width: 95%;
      margin: 0 auto;
    }
  }
  li {
    @media only screen and (max-width: 768px) {
      padding-top: 0.5em;
    }
  }
}

.mobile-nav-break {
  @media only screen and (max-width: 767px) {
    border-bottom: 0.05em solid white;
  }
}


/* JUMBOTRON BANNERS 
==========================================*/

.jumbotron-main {
  @extend .jumbotron;
  background: image-url("rainier-enhanced.jpg") no-repeat center center fixed;
  @include background-size(cover);
  margin: 0;
  height: 25em;
  color: white;
  h1 {
    max-width: 10em;
    margin: 0 auto;
    top: 1em;
    position: relative;
    text-shadow: 2px 2px 4px #000;
  }
}

.jumbotron-small {
  background: image-url("macbook-coffee-color.jpg") no-repeat center center fixed;
  height: 20em;
  @include background-size(cover);
  color: white;
  h1 {
    position: relative;
    top: 3em;
    text-shadow: 2px 2px 4px #000;
  }
}

.jumbotron-contact {
  @extend .jumbotron-small;
  background: image-url("lake-union.jpg") no-repeat center;
  @include background-size(1280px 100%);
  h1 {
    max-width: 10em;
    margin: 0 auto;
  }
}

.jumbotron-about {
  @extend .jumbotron-small;
  background: image-url("atacama-enhanced.jpg") no-repeat center center;
  height: 25em;
  h1 {
    top: 0.5em;
  }
}

.main {
  a {
  width: 10em;
  height: 5em;
  color: white;
  background-color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2em;
  position: relative;
  top: 2.5em;
  }
}


// MEDIA QUERIES #################

.jumbotron-main {
  @media only screen and (min-width: 768px) {
    height: 45em;
  }
  h1 {
    @media only screen and (min-width: 768px) {
      top: 2.5em;
      width: auto;
    }
  }
}

.jumbotron-contact, .jumbotron-small {
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 6em;
    }
  }
}

.jumbotron-small {
  @media screen and (min-width: 1024px) {
    h1 {
      top: 0.8em;
    }
  }
}
