

/* PROJECT LINK ANIMATIONS 
===============================================*/

// div and hover animation general settings ########

.p-item {
  display: block;
  margin: 3em auto;
  border: solid 1px #4d4d4d;
  overflow: hidden;
  height: 15em;
  width: 20em;  
  @include transition(all .5s ease);
  @include box-shadow(10px 10px 5px #888888); 

  img {
    @include transition(all .5s ease);
    height: 15em;
    width: 20em;
  }
}

.focus:hover {
  border: 20px solid #000;
  border-radius: 50%;
  @include transform(rotate(0.1deg));
  img {
    @include transform(scale(2));
  }
}


// Bolt Network animation ########

.cover {
  width: 100%;
  height: 100%;
  position: relative;
}

#bolt-svg {
  width: 4em;
  height: auto;
  position: absolute;
  top: 3.47%;
  left: 3%;
  @include opacity(0);
  @include transform-origin(-28%, -310%);
}

.p-bolt {
  @extend .p-item;
  border-color: $azure-radiance;
  background-color: #000;

  img {
    @include transform-origin(-3%, -5%);
  }
}

.focus-bolt:hover {
  border: 20px solid $azure-radiance;
  border-radius: 50%;
  @include transform(rotateX(0.1deg));
  img {
    @include transform(scale(3), rotate(0.1deg));
  }
  #bolt-svg {
    @include opacity(1);
  }
}

#pirate-pic:hover {
  @include opacity(0);
}


// Griffen Financial animation #########

.p-griffen {
  @extend .p-item;
  @include transform(rotateX(0.1deg));
  z-index: 1;

  img {
    @include transform-origin(center, -8%);
  }
}

.focus-g:hover {
  @extend .focus:hover;  
  img {
    @include transform(scale(2.5, 2));
  }
}


// Baldwin Interiors animation ########

.p-baldwin {
  @extend .p-item;
  background-color: #fff;

  img {
    @include transform-origin(-3%, -1%);
  }
}

.focus-baldwin:hover {
  @extend .focus:hover;

  img {
    @include transform(scale(3.5, 3));
  }
}

// SUGGESTION BOX ANIMATION #################

.p-suggestion {
  @extend .p-item;
  @include transition(all 0.5s ease);
  border-color: #6EBFD4;

  img {
    @include transition(all 0.5s ease);
    @include transform-origin(11%, 6%);
  }
}

.focus-sugg:hover {
  width: 17em;
  border-width: 10px;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(5, 4));
  }
}

// Sherry Matthews Marketing animation
.p-smm {
  border-color: $lime-green;
  @extend .p-item;
  @include transition(all 2s ease);

  img {
    @include transition(all 2s ease);
    @include transform-origin(7%, 9%);
  }
}

.focus-smm:hover {
  border: 20px solid $lime-green;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(3.5, 3));
  }
}


// MEDIA QUERIES ############################

@media only screen and (min-width: 480px) {
  .focus:hover, .focus-bolt:hover, .focus-smm:hover {
    border-width: 40px;
  }
}

.p-item {
  @media only screen and (min-width: 480px) and (max-width: 1199px) {
    height: 20em;
    width: 30em;
  }
  @media only screen and (min-width: 1200px) {
    height: 25em;
    width: 35em;
  }
  img {
    @media only screen and (min-width: 480px) and (max-width: 1199px) {
      height: 20em;
      width: 35em;
    }
    @media only screen and (min-width: 1200px) {
      height: 25em;
      width: 40em;
    }
  }
}

// Bolt Network ####

.p-bolt {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(-3%, -8%);
    }
  }
}

#bolt-svg {
  @media screen and (min-width: 480px) {
    width: 7em;
    @include transform-origin(-7%, -190%);
  }

  @media screen and (min-width: 1200px) {
    width: 8.55em;
  }
}


// Griffen Financial ####

.p-griffen {
  img {
    @media screen and (min-width: 480px) {
      @include transform-origin(center, -2%);
    }
  }
}

// Baldwin Interiors ####

.p-baldwin {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(-3.5%, top);
    }
  }
}

// SUGGESTION BOX ####

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .focus-sugg:hover {
    width: 20em;
  }

  .p-suggestion img {
    -moz-transform-origin: 8% 4%;
    -ms-transform-origin: 8% 4%;
    -webkit-transform-origin: 8% 4%;
    transform-origin: 11% 5%;
  }
}

@media screen and (min-width: 1200px) {
  .focus-sugg:hover {
    width: 28em;
    border-width: 20px;
  }
}

// SMM ####

.p-smm {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(7%, 8%);
    }
  }
}
