// ==================================================================
// Skills App Exhibit
// ==================================================================

#exhibit {
  position: absolute;
  top: 0;
  left: 100%;
  width: 30%;
  height: 475px;
  background-color: #333;
  transition: all 0.5s ease;
}
