// ==================================================================
// Skills App Styles
// ==================================================================

.active-skill {
  transition: all 1s ease;

  &.ruby {
    color: $ruby-red;
  }

  &.js {
    color: $javascript-yellow;
  }

  &.css {
    color: $css-blue;
  }

  &.rails {
    color: $ruby-red;
  }

  &.react {
    color: $react-blue;
  }

  &.bootstrap {
    color: $bootstrap-purple;
    font-weight: 800;
    text-shadow:  -1px -1px 1px #F8F8F8,
                  1px -1px 1px #F8F8F8,
                  -1px 1px 1px #F8F8F8,
                  1px 1px 1px #F8F8F8;
  }
}

.skill-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .3s ease;
  background-color: #141414;
  opacity: 0;
  z-index: 0;
}

// ==============================================
// Bootstrap Active
// ==============================================

.skillset.bootstrap {
  .skill-btn {
    pointer-events: none;
  }

  .skill-overlay {
    opacity: 0.5;
  }

  h2 {
    position: relative;
    padding: 10px 0;
    z-index: 5;
    transition: all .5s ease;
  }

  .container-span, .row-span, .col-span {
    font-weight: 600;
    transition: all .5s ease;
  }

  .container-span {
    position: relative;
    left: -28.8em;
    color: $jade;
    font-size: 20px;
  }

  .container {
    position: relative;
    max-width: 1250px;
    padding: 20px;
    border: solid $jade;
    border-radius: 5px;
    transition: all .5s ease;
  }

  .row-span {
    position: relative;
    left: -33em;
    color: #ff3131;
    font-size: 18px;
  }

  .row {
    border: solid #ff3131;
    transition: all .5s ease;
  }

  .col-6.col-sm-4 {
    border: solid #0085ff;
    border-radius: 5px;
  }

  .col-span {
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 16px;
    color: #0085ff;
  }
}

// ==============================================
// Logos
// ==============================================
.ruby-gif, .react-logo {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 0;
}

.ruby-gif {
  width: 30%;
  margin-left: -15%;
}

.react-logo {
  top: 15%;
  width: 40%;
  margin-left: -20%;
}

.rotate {
  animation: logo-spin infinite 10s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
