// ==================================================================
// Skills App Back Button
// ==================================================================

.skills-back {
  display: none;
  position: absolute;
  top: 0;
  left: 2px;
  background: transparent;
  border: none;
  perspective: 1000px;
  z-index: 10;

  &:hover .flipper,
  &.hover .flipper {
    transform: rotateY(180deg);
  }

  &:focus {
    outline: none;
  }
}

.skills-back, .front, .back {
  width: 4em;
  height: 2em;
  font-size: 1.5rem;
  color: white;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
}

.front {
  left: 0;
  z-index: 6;
  transform: rotateY(0deg);
}

.back {
  left: -5px;
  z-index: 5;
  transform: rotateY(180deg);
}
