
/* RUBY EXHIBIT STYLES 
==================================*/

.ruby-left {
	background-color: #F2EFED;
	color: #4d4d4d;
	height: 475px;
}

.ruby-right {
	background-color: #333;
	color: white;
	height: 475px;
}
