<div class="jumbotron-contact">
  <div class="col-md-12 text-center">
  	<h1>CONTACT</h1>
  </div>
</div>

<div class="contact-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>
          The best way to contact me is by email. I can also be reached 
          through my <a href="https://www.linkedin.com/in/ericbstephenson4891">LinkedIN</a>
          mailbox.
        </p>
        <br>

      	<h3>
      	  <a href="mailto:ericb.stephenson@gmail.com">
            ericb.stephenson@gmail.com
          </a>
      	</h3>
      	<br>
      </div>
    </div>
  </div>
</div>
