
// WORK PAGE: PROJECT LINK ANIMATIONS

// div and hover animation general settings ########

.p-item {
  display: inline-block;
  margin: 3em auto;
  border: solid 1px #4d4d4d;
  overflow: hidden;
  height: 15em;
  width: 20em;  
  @include transition(all 1.5s ease);
  @include box-shadow(10px 10px 5px #888888); 

  img {
    @include transition(all 1.5s ease);
    height: 15em;
    width: 20em;
  }
}

.focus:hover {
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotate(0.1deg));
  img {
    @include transform(scale(2));
  }
}


// Bolt Network animation ########

.p-bolt {
  @extend .p-item;
  border: solid 1px #0393ff;
  background-color: #000;

  img {
    @include transform-origin(-3%, -5%);
  }
}

.focus-bolt:hover {
  border: 40px solid #0393ff;
  border-radius: 50%;
  @include transform(rotateX(0.1deg));
  img {
    @include transform(scale(3), rotate(0.1deg));
  }
}


// Griffen Financial animation #########

.p-griffen {
  @extend .p-item;
  @include transform(rotateX(0.1deg));
  z-index: 1;

  img {
    @include transform-origin(center, 5%);
  }
}

.focus-g:hover {
  @extend .focus:hover;  
  img {
    @include transform(scale(2.5, 2));
  }
}


// Baldwin Interiors animation ########
.p-baldwin {
  @extend .p-item;
  background-color: #fff;

  img {
    @include transform-origin(-8%, -4%);
  }
}

.focus-baldwin:hover {
  @extend .focus:hover;

  img {
    @include transform(scale(2.5, 2));
  }
}

// Suggestion Box animation
.p-suggestion {
  @extend .p-item;
  @include transition(all 0.5s ease);

  img {
    @include transition(all 0.5s ease);
    @include transform-origin(8%, 4%);
  }
}

.focus-sugg:hover {
  width: 17em;
  border: 25px solid #000;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(3.75, 3));
  }
}

// Sherry Matthews Marketing animation
.p-smm {
  @extend .p-item;
  @include transition(all 2s ease);

  img {
    @include transition(all 2s ease);
    @include transform-origin(9%, 9%);
  }
}

.focus-smm:hover {
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(3.5, 3));
  }
}


// MEDIA QUERIES ############################

.p-item {
  @media only screen and (min-width: 480px) and (max-width: 1199px) {
    height: 20em;
    width: 30em;
  }
  @media only screen and (min-width: 1200px) {
    height: 25em;
    width: 35em;
  }
  img {
    @media only screen and (min-width: 480px) and (max-width: 1199px) {
      height: 20em;
      width: 35em;
    }
    @media only screen and (min-width: 1200px) {
      height: 25em;
      width: 40em;
    }
  }
}

// Bolt Network ####

.p-bolt {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(-3%, -8%);
    }
  }
}


// Griffen Financial ####

.p-griffen {
  img {
    @media screen and (min-width: 480px) {
      @include transform-origin(center, -2%);
    }
  }
}

// Baldwin Interiors ####

.p-baldwin {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(-8%, -10%);
    }
  }
}

// Suggestion Box ####

.focus-sugg:hover {
  @media screen and (min-width: 480px) {
    width: 20em;
  }

  @media screen and (min-width: 1200px) {
    width: 28em;
    border: solid 40px #000;
  }
}

// SMM ####

.p-smm {
  @media screen and (min-width: 480px) {
    img {
      @include transform-origin(9%, 7%);
    }
  }
}
