@import "bootstrap";
@import "compass/css3";

// LAYOUT ##################

body {
  line-height: 180%;
  font-size: 14px;
}

* {
  @include box-sizing(border-box);
}

.page-title {
  margin-top: 2em;
  font-weight: 300;
}

.technologies {
  font-family: 'Cambria';
  color: #696969;
}

main {
  text-align: center;
  margin-top: 5em;
}

.headshot {
  background: image-url("headshot1-thumb.jpg") center;
  height: 14em;
  width: 14em;
  position: absolute;
  top: 8em;
  left: 3em;
  border: solid 6px #333;
  border-radius: 50%;
  @include box-shadow(4px 4px 4px #4D4D4D);
}


/* Navigation */

nav.navbar {
  margin: 0;
  padding: 0.8em;
  background-color: #222;
  z-index: 10;

  button {
    border: solid 1px #F8F8F8;
  }

  .icon-bar {
    background-color: #F8F8F8;
  }
}

nav.navbar, .navbar-header, .nav {
  @include transition(all 1s ease);
}

nav.navbar.shrink {
  @include transform(translate(0, -28px));

  .navbar-header {
    @include transform(translate(0, 15px));
  }

  .nav {
    @include transform(translate(0, 15px));
  }
}

#logo {
  font-size: 2em;
}

#logo, .nav a {
  color: #F8F8F8;
  @include transition(all 0.5s ease);
  &:hover {
    color: #18bc9c;
  }
}

.nav {
  a {
    font-size: 1.5em;
  }

  i {
    font-size: 2em;
    margin-top: -0.25em;
  }
}

#nav-list {
  margin-top: 0.6em; 
  a:hover {
    background-color: #222;
  }

  .icon-link {
    a {
      height: 50px;
      margin-bottom: 0.5em;
    }
  }
}


/* Footer */

footer { 
  padding-top: 1em;
  background-color: #EEE0CB;
  border-top: solid 2px #222;
  color: #222;
  height: 140px;
}

.social-media {
  width: 15em;
  padding: 0;
  margin: 1em auto;

  li {
    list-style-type: none;
    display: inline-block;
  }

  a {
    color: #222;
    @include transition(all 0.5s ease);
    &:hover {
      color: #18bc9c;
    }
  }

  i {
    font-size: 4em;
    margin-right: 0.2em;
  }
}


// Dashboard

#dash-nav-container {
  position: fixed;
}

#dash-nav {
  margin: 1em;
}

#dash-nav a {
  color: #222;
  &:hover {
    color: #18bc9c;
  }
}

.dashboard-view {
  margin-bottom: 4em;
}


// MEDIA QUERIES #####################

// Navigation

#logo {
  @media only screen and (min-width: 768px) {
    position: relative;
    top: 0.2em;
  }
}

.nav {
  a {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.2em;
    }
    @media only screen and (max-width: 768px) {
      height: 50px;
      width: 95%;
      margin: 0 auto;
    }
  }
  li {
    @media only screen and (max-width: 768px) {
      padding-top: 0.5em;
    }
  }
}

.mobile-nav-break {
  @media only screen and (max-width: 767px) {
    border-bottom: 0.05em solid white;
  }
}

