@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass/css3";

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  line-height: 1.42857143;
  font-size: 14px;
}

.page-title {
  margin-top: 2em;
  font-weight: 300;
}

.technologies {
  font-family: 'Cambria';
  color: #696969;
}

main {
  text-align: center;
}

.headshot {
  background: image-url("headshot1-thumb.jpg") center;
  height: 14em;
  width: 14em;
  position: absolute;
  top: 8em;
  left: 3em;
  border: solid 6px #000;
  border-radius: 50%;
  @include box-shadow(5px 5px 5px #444);
}


/* Navigation */

.logo {
  font-size: 2em;
}

.navbar {
  margin-bottom: 0;
}

.nav {
  margin-top: 1em;
  img {
    width: 1.5em;
    position: relative;
    bottom: 0.4em;
  }
  a {
    font-size: 1.5em;
  }
}


/* Welcome Page */

.jumbotron {
  background: image-url("rainier-enhanced.jpg") no-repeat center center fixed;
  @include background-size(cover);
  margin: 0;
  height: 25em;
  color: white;
  h1 {
    max-width: 10em;
    margin: 0 auto;
    top: 1em;
    position: relative;
    text-shadow: 2px 2px 4px #000000;
  }
}

.jumbotron-small {
  background: image-url("rainier-enhanced.jpg") no-repeat center center fixed;
  height: 20em;
  @include background-size(cover);
  h1 {
    position: relative;
    top: 2.5em;
  }
}

.jumbotron-contact {
  @extend .jumbotron-small;
  background: image-url("seattle-enhanced-again.jpg") no-repeat center;
  background-size: 100% auto;
  color: white;
}

.jumbotron-about {
  @extend .jumbotron-small;
  background: image-url("atacama-enhanced.jpg") no-repeat center center;
  background-size: 100% 55em;
  height: 25em;
  color: white;
}

.main {
  a {
  width: 10em;
  height: 5em;
  color: white;
  background-color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2em;
  position: relative;
  top: 2.5em;
  }
}

.skills-copy {
  font-size: 18px;
}

.code-school {
  color: #00BFFF;
  &:hover {
    color: #1E90FF;
    text-decoration: none;
  }
}

/* Work Page */

* {
  @include box-sizing(border-box);
}

.p-item {
  display: inline-block;
  margin: 3em auto;
  border: solid 1px #4d4d4d;
  overflow: hidden;
  height: 15em;
  width: 20em;  
  @include transition(all 1.5s ease);
  @include box-shadow(10px 10px 5px #888888); 

  img {
    @include transition(all 1.5s ease);
    height: 15em;
    width: 20em;
  }
}

.focus:hover {
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotateX(0deg));
  img {
    @include transform(scale(2));
  }
}

.focus-b:hover {
  @extend .focus:hover;
  img {
    margin-top: 8em;
    margin-left: 10em;
  }
}

.focus-g:hover {
  @extend .focus:hover;  
  img {
    margin-top: 4.5em;
    @include transform(scale(1.5));
  }
}

.focus-smm:hover {
  @extend .focus:hover;
  @include transform(rotateZ(360deg));
  @include transition(all 2s ease);  
  img {
    margin-top: 7em;
    margin-left: 9em;
    @include transition(all 2s ease);
    @include transform(scale(2));
  }
}

.p-info {
  margin: 2em auto;
  color: #4d4d4d;
  text-align: justify;
  font-size: 18px;
  width: 90%;
}

.site-link {
  padding: 0.6em;
  border: 2px solid;
  border-radius: 40px;
  width: 15%;
  height: 3em;
  color: #4d4d4d;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
}

.site-link:hover {
  text-decoration: none;
  color: deepskyblue;
}

.web-link {
  width: 8em;
  height: 3em;
  margin: 2em auto;
  padding: 0.6em;
  color: #4d4d4d;
  border: 2px solid;
  border-radius: 40px;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
  a {
    color: #4d4d4d;
    @include transition(all 0.5s ease);
  }
  span {
    display: none;
    font-size: 2em;
    @include transition(all 0.5s ease);
  }
}

.web-link:hover {
  @include transform(rotateZ(360deg));
  padding: 0.3em;
  color: deepskyblue;
  border-radius: 50%;
  width: 8em;
  a {
    text-decoration: none;
    color: deepskyblue;
  }
  p {
    display: none;
  }
  span {
    display: block;
    color: deepskyblue;
  }
}

.project-page {
  background-color: #F8F8F8;
  padding-bottom: 4em;
}

.skillset {
  background-color: #2F4F4F;
  color: white;
  padding-bottom: 4em;
}

.project-img {
  img {
    border: 1px solid #4D4D4D;
  }
  margin-top: 5em;
}

.contact-page {
  background-color: #F8F8F8;
  height: 26em;
  padding-top: 4em;
  font-size: 18px;
}

.break {
  width: 80%;
  margin: 3em auto;
  border-bottom: solid 1px #444;
}

/* Unslider */

.banner {
  position: relative;
  top: 2em;
  bottom: 2em;
  background-color: black;
  padding: 2em;
  overflow: auto;
  li {
    list-style: none;
    margin: 0 auto;
  }
  ul li {
    float: left;
  }
  img {
    width: 45em;
    height: 30em;
  }
}

/* Footer */

footer { 
  padding-top: 2em;
  border-top: 1px solid #4d4d4d;
}

.social-media {
  margin-right: 2em;
  li {
    list-style-type: none;
    display: inline-block;
  }
  img {
    width: 38px;
    margin: 0.5em;
  }
}

.footer-contact {
  float: right;
  margin-right: 2em;
  p {
    float: right;
    margin-right: 2em;
  }
}

.flaticon {
  float: right;
  display: block;
  clear: both;
  margin: 1em;
}



// MEDIA QUERIES ###########################

// Navigation

.logo {
  @media only screen and (min-width: 768px) {
    position: relative;
    top: 0.4em;
  }
}

.nav {
  a {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.2em;
    }
    @media only screen and (max-width: 768px) {
      height: 50px;
      width: 95%;
      margin: 0 auto;
    }
  }
  li {
    @media only screen and (max-width: 768px) {
      padding-top: 0.5em;
    }
  }
}

.mobile-nav-break {
  @media only screen and (max-width: 768px) {
    border-bottom: 0.05em solid white;
  }
}


// Welcome Page

.jumbotron {
  @media only screen and (min-width: 768px) {
    height: 45em;
  }
  h1 {
    @media only screen and (min-width: 768px) {
      top: 2.5em;
      width: auto;
    }
  }
}


// Work Page

.p-item {
  @media only screen and (min-width: 480px) and (max-width: 1199px) {
    height: 20em;
    width: 30em;
  }
  @media only screen and (min-width: 1200px) {
    height: 25em;
    width: 35em;
  }
  img {
    @media only screen and (min-width: 480px) and (max-width: 1199px) {
      height: 20em;
      width: 35em;
    }
    @media only screen and (min-width: 1200px) {
      height: 25em;
      width: 40em;
    }
  }
}

.focus:hover {
  @media only screen and (min-width: 782px) {
    border: 70px solid #000;
  }
}

.focus-b:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 13em;
      margin-left: 18em;
    }
  }
}

.focus-g:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 6.5em;
    }
  }
}

.focus-smm:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 12em;
      margin-left: 16em;
    }
  }
}

.p-info {
  @media only screen and (min-width: 990px) {
    width: 60%;
  }
}
