@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass/css3";
@import "font-awesome-sprockets";
@import "font-awesome";


/* Welcome Page */

.jumbotron {
  background: image-url("rainier-enhanced.jpg") no-repeat center center fixed;
  @include background-size(cover);
  margin: 0;
  height: 25em;
  color: white;
  h1 {
    max-width: 10em;
    margin: 0 auto;
    top: 1em;
    position: relative;
    text-shadow: 2px 2px 4px #000;
  }
}

.jumbotron-small {
  background: image-url("macbook-coffee.jpg") no-repeat center center fixed;
  height: 20em;
  @include background-size(cover);
  color: white;
  h1 {
    position: relative;
    top: 0.8em;
    text-shadow: 2px 2px 4px #000;
  }
}

.jumbotron-contact {
  @extend .jumbotron-small;
  background: image-url("lake-union.jpg") no-repeat center center;
  background-size: 100% auto;
  color: white;
  h1 {
    max-width: 10em;
    margin: 0 auto;
  }
}

.jumbotron-about {
  @extend .jumbotron-small;
  background: image-url("atacama-enhanced.jpg") no-repeat center center;
  background-size: 100% 55em;
  height: 25em;
  color: white;
  h1 {
    top: 0.5em;
  }
}

.main {
  a {
  width: 10em;
  height: 5em;
  color: white;
  background-color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2em;
  position: relative;
  top: 2.5em;
  }
}

.skills-copy {
  font-size: 18px;
  p {
    display: inline-block;
    margin: 1em;
  }
}

.code-school {
  color: #00BFFF;
  &:hover {
    color: #1E90FF;
    text-decoration: none;
  }
  &:focus {
    color: #1E90FF;
    text-decoration: none;
  }
}


/* Work Page styles */

* {
  @include box-sizing(border-box);
}

// div and hover animation general settings
.p-item {
  display: inline-block;
  margin: 3em auto;
  border: solid 1px #4d4d4d;
  overflow: hidden;
  height: 15em;
  width: 20em;  
  @include transition(all 1.5s ease);
  @include box-shadow(10px 10px 5px #888888); 

  img {
    @include transition(all 1.5s ease);
    height: 15em;
    width: 20em;
  }
}

.focus:hover {
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotate(0.1deg));
  img {
    @include transform(scale(2));
  }
}

// Bolt Network animation
.p-bolt {
  @extend .p-item;
  border: solid 1px #0393ff;
  background-color: #000;

  img {
    @include transform-origin(-4%, -3%);
  }
}

.focus-bolt:hover {
  border: 50px solid #0393ff;
  border-radius: 50%;
  @include transform(rotateX(0.1deg));
  img {
    @include transform(scale(4), rotate(0.1deg));
  }
}

// Griffen Financial animation
.p-griffen {
  @extend .p-item;
  @include transform(rotateX(0.1deg));

  img {
    @include transform-origin(center, 30%);
  }
}

.focus-g:hover {
  @extend .focus:hover;  
  img {
    @include transform(scale(2.5, 2), rotate(0.1deg));
  }
}

// Baldwin Interiors animation
.p-baldwin {
  @extend .p-item;
  background-color: #fff;

  img {
    @include transform-origin(-8%, -3%);
  }
}

.focus-baldwin:hover {
  @extend .focus:hover;

  img {
    @include transform(scale(2.5, 2));
  }
}

// Suggestion Box animation
.p-suggestion {
  @extend .p-item;
  @include transition(all 0.5s ease);

  img {
    @include transition(all 0.5s ease);
    @include transform-origin(8%, 4%);
  }
}

.focus-sugg:hover {
  width: 28em;
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(3.75, 3));
  }
}

// Sherry Matthews Marketing animation
.p-smm {
  @extend .p-item;
  @include transition(all 2s ease);

  img {
    @include transition(all 2s ease);
    @include transform-origin(30%, 32%);
  }
}

.focus-smm:hover {
  border: 40px solid #000;
  border-radius: 50%;
  @include transform(rotateZ(360deg));

  img {
    @include transform(scale(3.5, 3));
  }
}

/* Project Pages styles */
.p-info {
  margin: 2em auto;
  color: #4d4d4d;
  text-align: justify;
  font-size: 18px;
  width: 90%;
}

.site-link {
  padding: 0.6em;
  border: 2px solid;
  border-radius: 40px;
  width: 15%;
  height: 3em;
  color: #4d4d4d;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
}

.site-link:hover {
  text-decoration: none;
  color: #18bc9c;
}

.web-link {
  width: 8em;
  height: 3em;
  margin: 2em auto;
  padding: 0.6em;
  color: #4d4d4d;
  border: 2px solid;
  border-radius: 40px;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
  a {
    color: #4d4d4d;
    @include transition(all 0.5s ease);
    &:focus {
      text-decoration: none;
    }
  }
  span {
    display: none;
    font-size: 2em;
    @include transition(all 0.5s ease);
  }
}

.web-link:hover {
  @include transform(rotateZ(360deg));
  padding: 0.3em;
  color: deepskyblue;
  border-radius: 50%;
  width: 8em;
  a {
    text-decoration: none;
    color: deepskyblue;
  }
  p {
    display: none;
  }
  span {
    display: block;
    color: deepskyblue;
  }
}

.project-page {
  background-color: #F8F8F8;
  padding-bottom: 4em;
}

.skillset {
  background: image-url("macbook-coffee.jpg") no-repeat center center;
  color: white;
  text-shadow: 2px 2px 4px #000;
  padding-bottom: 4em;
  height: 420px;
}

.project-img {
  img {
    border: 1px solid #4D4D4D;
  }
  margin-top: 5em;
}

.contact-page {
  background-color: #F8F8F8;
  height: 26em;
  padding-top: 4em;
  font-size: 18px;
}

.break {
  width: 80%;
  margin: 3em auto;
  border-bottom: solid 1px #444;
}


/* ABOUT PAGE */

.about-copy {
  margin: 2em auto;
  color: #4d4d4d;
  text-align: justify;
  font-size: 18px;
  width: 90%;

  h1 {
    margin-bottom: 1.5em;
    color: #333;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
  }

  p {
    margin-bottom: 1em;
  }
}

#about-last {
  margin-bottom: 4em;
}



// MEDIA QUERIES ###########################

.mobile-nav-break {
  @media only screen and (max-width: 768px) {
    border-bottom: 0.05em solid white;
  }
}


// Welcome Page

.jumbotron {
  @media only screen and (min-width: 768px) {
    height: 45em;
  }
  h1 {
    @media only screen and (min-width: 768px) {
      top: 2.5em;
      width: auto;
    }
  }
}

.skills-copy {
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}


// Work Page

.p-item {
  @media only screen and (min-width: 480px) and (max-width: 1199px) {
    height: 20em;
    width: 30em;
  }
  @media only screen and (min-width: 1200px) {
    height: 25em;
    width: 35em;
  }
  img {
    @media only screen and (min-width: 480px) and (max-width: 1199px) {
      height: 20em;
      width: 35em;
    }
    @media only screen and (min-width: 1200px) {
      height: 25em;
      width: 40em;
    }
  }
}

.focus:hover {
  @media only screen and (min-width: 782px) {
    border: 70px solid #000;
  }
}

.focus-b:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 13em;
      margin-left: 18em;
    }
  }
}

.focus-g:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 6.5em;
    }
  }
}

.focus-smm:hover {
  img {
    @media only screen and (min-width: 1200px) {
      margin-top: 12em;
      margin-left: 16em;
    }
  }
}

.p-info, .about-copy {
  @media only screen and (min-width: 990px) {
    width: 60%;
  }
}


// Jumbotrons
.jumbotron-contact, .jumbotron-small {
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 6em;
    }
  }
}
