
/* PROJECT PAGES STYLES 
================================*/

.p-info {
  margin: 2em auto;
  color: #4d4d4d;
  text-align: justify;
  font-size: 18px;
  width: 90%;
  line-height: 1.8;

  p {
    margin: 3em auto;
  }

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }
}

.line-break {
  width: 80%;
  margin: 3em auto;
  border-bottom: solid 2px #333;
}

.line-break-blue {
  @extend .line-break;
  border-color: $azure-radiance;
}

.line-break-green {
  @extend .line-break;
  border-color: $lime-green;
}

.site-link {
  padding: 0.6em;
  border: 2px solid;
  border-radius: 40px;
  width: 15%;
  height: 3em;
  color: #4d4d4d;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
}

.site-link:hover, .site-link:focus {
  text-decoration: none;
  color: #18bc9c;
}

.web-link {
  width: 8em;
  height: 3em;
  margin: 2em auto;
  padding: 0.6em;
  color: #4d4d4d;
  border: 2px solid;
  border-radius: 40px;
  font-size: 1.5em;
  @include transition(all 0.5s ease);
  a {
    color: #4d4d4d;
    @include transition(all 0.5s ease);
    &:focus {
      text-decoration: none;
    }
  }
  span {
    display: none;
    font-size: 2em;
    @include transition(all 0.5s ease);
  }
}

.web-link:hover {
  @include transform(rotateZ(360deg));
  padding: 0.3em;
  color: deepskyblue;
  border-radius: 50%;
  width: 8em;
  a {
    text-decoration: none;
    color: deepskyblue;
  }
  p {
    display: none;
  }
  span {
    display: block;
    color: deepskyblue;
  }
}

.project-page {
  background-color: #F8F8F8;
  padding-bottom: 4em;
}

.project-img {
  img {
    border: 1px solid #4D4D4D;
    @include box-shadow(10px 10px 5px #888888);
  }
  margin-top: 5em;
}

.contact-page {
  background-color: #F8F8F8;
  height: 26em;
  padding-top: 4em;
  font-size: 18px;
}

.break {
  width: 80%;
  margin: 3em auto;
  border-bottom: solid 1px #444;
}
