
/* WELCOME PAGE STYLES 
===================================*/

.skills-box {
  position: relative;
}

.skillset {
  position: relative;
  color: white;
  text-shadow: 2px 2px 4px #000;
  height: 475px;
  overflow: hidden;

  h1 {
    margin: 0;
    padding: 1.5em 0 1em;
    font-weight: 300;
  }
}

.skillset-default {
  background: image-url("macbook-coffee-bw.jpg") no-repeat center center;
}

.skillset-ror {
  background: image-url("fast-train.gif") no-repeat center center;
  background-size: cover;
}

.skills {

  p, a {
    color: white;
    position: absolute;
    margin: 1em;
    cursor: pointer;
    @include transition(all 0.5s ease);
  }

  a:hover {
    text-decoration: none;
  }
}

.ruby-link {
  left: 13em;

  &:hover {
    color: red;
  }
}

.javascript-link {
  left: 23.3em;
}

.javascript-5 {
  @include transition(all 0.5s ease);

  &:hover {
    color: yellow;
    .javascript-fine {
      color: white;
    }
  }
}

.javascript-fine {
  display: none;
  font-size: 18px;
  text-align: center;
}

.ror-link {
  right: 9em;

  &:hover {
    color: red;
    @include transform(scale(1.5));
  }
}

.bootstrap-link {
  top: 11em;
  left: 13em;
}

.jquery-link {
  top: 11em;
  left: 24.3em;
}

.css3-link {
  top: 11em;
  right: 12.5em;
  @include transition(all 0.1s ease);

  &:hover {
    @include transform(rotateZ(-750deg) scale(12.5));
    color: #29a9df;
    z-index: 5;
  }
}

.css3-title {
  top: 10px;
  left: 10px;
  color: #29a9df !important;
}

.skills-back {
  display: none;
  top: 2.5em;
  left: 10px;
}

.exhibit {
  position: absolute;
  top: 0;
  left: 100%;
  width: 30%;
  height: 475px;
  background-color: #333;
}

/* MEDIA QUERIES 
===================================*/

.skills-copy {
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
