<footer>
  <div class="footer-contact">
    <ul class="social-media">
      <li>
        <a class="github" href="https://github.com/wstevo4891"><%= image_tag("github13-2.png") %></a>
      </li>
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/ericbstephenson4891"><%= image_tag("linkedin-black.png") %></a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/EricBStephenson"><%= image_tag("twitter-black.png") %></a>
      </li>
    </ul>
    <p>© 2015 Eric Stephenson</p>
  </div>
  <div class="flaticon">Icons made by <a href="http://www.flaticon.com/authors/stephen-hutchings" title="Stephen Hutchings">Stephen Hutchings</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</footer>
