<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div id="nav-container" class="container">
    <%# navbar-brand link %>
    <%= link_to 'Eric Stephenson', root_path, class: brand_class %>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render 'layouts/navbar_links' %>
    </div>
  </div>
</nav>
